In [79]:
import requests
import pandas as pd
import locale
import json
import config
import datetime
import time
import mysql.connector
import pickle
import 

api_key = 'faf8be11d952e504b113126fb62259c6'

In [80]:
cnx = mysql.connector.connect(
            host = config.host,
            user = config.user,
            passwd = config.password)

cursor = cnx.cursor()

In [3]:
TABLES = {}

TABLES['movies'] = ("""CREATE TABLE john (
                                 imdbid VARCHAR(25),
                                 movieTitle VARCHAR(255) NOT NULL,
                                 released DATE NOT NULL,
                                 genreId VARCHAR(14),
                                 genreName VARCHAR(33),
                                 rating REAL,
                                 PRIMARY KEY (movieTitle, released)
                                 ) ENGINE=InnoDB""")

In [82]:
def add_tables_to_db(TABLES, cursor, db_name):
    from mysql.connector import errorcode
    for table_name in TABLES:
        table_description = TABLES[table_name]
        try:
            print("Creating table {}: ".format(table_name), end='')
            cursor.execute(f"""USE {db_name}""")
            cursor.execute(table_description)
        except mysql.connector.Error as err:
            if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
                print("already exists.")
            else:
                print(err.msg)
        else:
            print("OK")

In [83]:
add_tables_to_db(TABLES, cursor, 'Moovies')

Creating table movies: already exists.
Creating table movie_genres: already exists.
Creating table genreid: already exists.

In [4]:
TABLES['movie_genres'] = ("""CREATE TABLE movie_genres (
                                 mg_id INTEGER AUTO_INCREMENT,
                                 imdbid VARCHAR(25),
                                 genreId VARCHAR(14),
                                 PRIMARY KEY (mg_id)
                                 ) ENGINE=InnoDB""")

In [5]:
TABLES['genreid'] = ("""CREATE TABLE genreid (
                                 genreId VARCHAR(14),
                                 genreName VARCHAR(33),
                                 PRIMARY KEY (genreId)
                                 ) ENGINE=InnoDB""")

In [7]:
# iterating through a pages
popular_movies = []
for i in range(1,992):
    try:
        pnum = i
    #     url = f'https://api.themoviedb.org/3/discover/movie?api_key=faf8be11d952e504b113126fb62259c6&certification_country=US&certification.lte=G&sort_by=popularity.desc&page={pnum}'
        url = f'https://api.themoviedb.org/3/movie/popular?api_key={api_key}&language=en-US&page={pnum}'
        headers = {'Authorization': 'Bearer {}'.format(api_key)}
        response = requests.get(url, headers=headers)
        data = response.json()['results']
        popular_movies.extend(data)
#         if i % 40 == 0:
        time.sleep(1)
    except KeyError:
        pass
        if e.errno != errno.ECONNRESET:
            raise

In [12]:
len(popular_movies)

19820

In [8]:
# iterating through the movies list to parse the movie_id
def movie_list(popular_movies):
    popular_list = []
    for popular in popular_movies:
        popular_list.append(popular['id'])
    return popular_list


movie_id = movie_list(popular_movies)   
    
#used the movie id to iterate through a full detailed list of movies

In [9]:
def movie_details(movie_id):
    detailed_list = []
#     detailed_lists = {}
    for movie in movie_id:
        url2 = f'https://api.themoviedb.org/3/movie/{movie}?api_key=faf8be11d952e504b113126fb62259c6&language=en-US'
        response2 = requests.get(url2, headers = headers)
        data2 = response2.json()
#         print(data2)
#         decoded = json.dumps(data2)
#         print(decoded)
#         encoded = json.loads(decoded)
#         detailed_lists.update(encoded)
#         print(encoded)
        detailed_list.append(data2)
    # we want to ADD all the detail lists togther
    return detailed_list

In [ ]:
# we want to put a functino in a for loop
# the function takes a list of movie_ids and returns detail_list AKA info
# take detail list and save it somehow..... is this for all movies?????

# instead of RUNNING ALL moive ids....
#take each movie in segments

In [43]:
filename = 'movie_details'

In [44]:
outfile = open(filename, 'wb')

In [45]:
pickle.dump(full_list, outfile)

In [46]:
outfile.close()

In [47]:
infile = open(filename, 'rb')
p = pickle.load(infile)
infile.close()

In [88]:
p[0]

{'adult': False,
 'backdrop_path': '/1TUg5pO1VZ4B0Q1amk3OlXvlpXV.jpg',
 'belongs_to_collection': None,
 'budget': 260000000,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 10751, 'name': 'Family'},
  {'id': 18, 'name': 'Drama'},
  {'id': 28, 'name': 'Action'}],
 'homepage': 'https://movies.disney.com/the-lion-king-2019',
 'id': 420818,
 'imdb_id': 'tt6105098',
 'original_language': 'en',
 'original_title': 'The Lion King',
 'overview': "Simba idolises his father, King Mufasa, and takes to heart his own royal destiny. But not everyone in the kingdom celebrates the new cub's arrival. Scar, Mufasa's brother—and former heir to the throne—has plans of his own. The battle for Pride Rock is ravaged with betrayal, tragedy and drama, ultimately resulting in Simba's exile. With help from a curious pair of newfound friends, Simba will have to figure out how to grow up and take back what is rightfully his.",
 'popularity': 409.507,
 'poster_path': '/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg',
 'production_companies': [{'id': 2,
   'logo_path': '/wdrCwmRnLFJhEoH8GSfymY85KHT.png',
   'name': 'Walt Disney Pictures',
   'origin_country': 'US'},
  {'id': 7297,
   'logo_path': '/l29JYQVZbTcjZXoz4CUYFpKRmM3.png',
   'name': 'Fairview Entertainment',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2019-07-12',
 'revenue': 713650600,
 'runtime': 118,
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
 'status': 'Released',
 'tagline': 'The King has Returned.',
 'title': 'The Lion King',
 'video': False,
 'vote_average': 7.2,
 'vote_count': 1220}

In [36]:
# 100 at a time

# 19820 results

full_list = []
a = 0
b = 100
while b <= 19820:
    new = movie_details(movie_id[a:b])
    full_list.extend(new)
    a += 100
    b += 100
    time.sleep(1)
else:
    full_list.extend(movie_id[19800:19820])
        
    
# a = 19800, b = 19900

In [35]:
movie_id[5]

384018

In [73]:
for movie in full_list:
    for i in movie['genres']:
        print(movie['imdb_id'],i['id'])

tt6105098 12
tt6105098 16
tt6105098 10751
tt6105098 18
tt6105098 28
tt4154796 12
tt4154796 878
tt4154796 28
tt9501310 16
tt9501310 28
tt9501310 18
tt9501310 9648
tt9501310 35
tt6320628 28
tt6320628 12
tt6320628 878
tt6806448 28
tt0437086 28
tt0437086 878
tt0437086 53
tt0437086 12
tt4154756 12
tt4154756 28
tt4154756 878
tt2139881 35
tt2139881 10749
tt0317219 16
tt0317219 12
tt0317219 35
tt0317219 10751
tt7131622 18
tt7131622 35
tt7131622 28
tt7131622 80
tt7131622 37
tt3741700 878
tt3741700 28
tt1979376 12
tt1979376 16
tt1979376 35
tt1979376 10751
tt4154664 28
tt4154664 12
tt4154664 878
tt0448115 28
tt0448115 35
tt0448115 14
tt6146586 80
tt6146586 28
tt6146586 53
tt5884052 28
tt5884052 12
tt5884052 14
None 28
None 12
None 878
tt2283336 28
tt2283336 35
tt2283336 878
tt2283336 12
tt8022928 12
tt8022928 10751
tt8022928 10402
tt10656752 18
tt10656752 10770
tt2274648 28
tt2274648 12
tt2274648 14
tt2274648 27
tt2274648 878
tt6139732 12
tt6139732 14
tt6139732 10749
tt6139732 35
tt6139732 10751
tt0201716 80
tt0201716 18
tt8752440 80
tt8752440 16
tt8752440 9648
tt8752440 28
tt8364368 53
tt8364368 28
tt8364368 27
tt1375666 28
tt1375666 878
tt1375666 12
tt0848228 878
tt0848228 28
tt0848228 12
tt3861390 12
tt3861390 10751
tt3861390 14
tt2911666 28
tt2911666 53
tt2076298 28
tt2076298 18
tt2076298 36
tt10550884 28
tt10550884 27
tt10550884 9648
tt4633694 28
tt4633694 12
tt4633694 16
tt4633694 878
tt4633694 35
tt2386490 16
tt2386490 10751
tt2386490 12
tt0241527 12
tt0241527 14
tt0241527 10751
tt9648942 10749
tt9648942 18
tt2310332 28
tt2310332 12
tt2310332 14
tt6565702 878
tt6565702 28
tt4429160 16
tt4429160 10749

KeyError: 'genres'

In [86]:
def add_genre(full_list):
    for movie in full_list:
        try:
            for i in movie['genres']:
#                 then place the id and name into a genre table, 
                cursor.execute('''
                      INSERT INTO movie_genres (imdbid, genreId)
                       VALUES(%s, %s)''', (movie['imdb_id'], i['id']))
#                 print(i['id'],i['name'])
        except KeyError:
            pass
        except TypeError:
            print('issue with this: ', movie)
    cnx.commit()
    
#       imdbid VARCHAR(25),
#                                  genreId VARCHAR(14),

In [87]:
add_genre(full_list)

issue with this:  18287
issue with this:  71701
issue with this:  108726
issue with this:  29621
issue with this:  31132
issue with this:  289007
issue with this:  104089
issue with this:  64509
issue with this:  321666
issue with this:  18206
issue with this:  20145
issue with this:  287415
issue with this:  61821
issue with this:  407389
issue with this:  289712
issue with this:  28963
issue with this:  274817
issue with this:  69654
issue with this:  15673
issue with this:  43155

In [ ]:
def add_genreid(m):
    genres = []
    for movie in range(len(m)):
        try:
            for i in m[movie]['genres']:
#                 then place the id and name into a genre table, 
                cursor.execute('''
                      INSERT IGNORE INTO genreid (genreId, genreName)
                       VALUES( %s, %s)''', (i['id'], i['name']))
#                 print(i['id'],i['name'])
                genres.append({m[movie]['title'] : (i['id'], i['name'])})
        except KeyError:
            pass
        
    cnx.commit()

In [ ]:
add_genreid(m)

In [ ]:
def add_movie(m):
    movie = []
    for ids in m:
        try:
            cursor.execute('''
              INSERT IGNORE INTO john (imdbid, movieTitle, released, rating )
              VALUES( %s, %s, %s, %s)''', (ids['imdb_id'],ids['title'], ids['release_date'],ids['vote_average']))
#             print(ids['id'],ids['title'],ids['imdb_id'], ids['release_date'], ids['vote_average'], int(ids['vote_count']))
            movie.append({ids['id'] : ids['title']})
        except KeyError:
            pass

    cnx.commit()
#                                  movieId VARCHAR(25),
#                                  movieTitle VARCHAR(255) NOT NULL,
#                                  released DATE NOT NULL,
#                                  genreId VARCHAR(14),
#                                  genreName VARCHAR(33),
#                                  rating REAL,
#                                  PRIMARY KEY (movieTitle, released)
#                                  ) ENGINE=InnoDB""")

In [ ]:
add_movie(m)

In [ ]:
cnx.commit()

In [ ]:
# Production company and ID
production_movie = []
for movie in range(len(m)):
    try:
        #  cursor.execute('''
#           INSERT IGNORE INTO businesses (restaurant_id, business_name, business_rating, business_price)
#           VALUES( %s, %s, %s, %s)''', (business['id'], business['name'], business['rating'], business['price']))
#         print(ids['id'],ids['title'],ids['budget'],ids['revenue'])
        for production in m[movie]['production_companies']:
#             print(production['id'], production['name'])
            production_movie.append({m[movie]['title'] : (production['id'], production['name'])})
    except KeyError:
            pass

In [ ]:
# production_movie

In [ ]:
rating = []
for ratings in m:
    try:
#         print(ratings['vote_count'],int(ratings['vote_average']))
        rating.append({ratings['title'] : (ratings['vote_average'], ratings['vote_count'])})
    except KeyError:
        pass

In [ ]:
# rating